# .clang-format

IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
BasedOnStyle: Google
ColumnLimit: 80
AlignAfterOpenBracket: Align
SpaceBeforeParens: Always
SpacesInAngles: true
# 大括号换行
BraceWrapping:
  # 在case后的大括号是否换行
  AfterCaseLabel: true
  # class后
  AfterClass: true
  # 控制语句(if/for/while/switch/...)后是否换行
  # - Never: 永远不, 即永远将语句体的大括号放置于控制语句同一行
  # - MultiLine: 多行控制语句才进行换行
  # - Always: 永远换行, 建议
  AfterControlStatement: Always
  # 下面比较容易理解, 不再作无意义的解释
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: false
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
BreakBeforeBraces: Custom
